#loginTopPadding
{
    height: 10vh;
}

.contenedor {
    display: flex;
}

#destacado {
    flex: 0 0 0 40%;
    margin: auto;
}

#destacado table {
    display: block;
}

#destacado table th {
    font-size: 20pt;
    padding-bottom: 10px;
}

#destacado table tr td {
    padding-left: 20px;
    padding-right: 20px;
}

#destacado table tr td a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#destacado table tr td a h4 {
    font-size: 10pt;
    font-weight: normal;
}

.imgDestacada {
    width: 140px;
    height: 140px;
    margin: auto;
}

.imgDestacadaTitulo {
    margin-top: 5px;
    margin-bottom: 0px;
}

#loginForm {
    background-color: white;
    font-size: .84em;
    color: #560B40;
    min-width: 400px;
    max-width: 400px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-color: #a9bca9;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 2px 2px 5px #560B40;
}

#signUpHeader {
    text-align: center;
    color: rgba(86, 11, 64, 0.7);
    font-family: calibri,"century gothic", arial;
    font-size: 2em;
    font-weight: lighter;
}

.loginTable input, textarea
{
    font-family: Arial, sans-serif;
    border-color: rgba(86, 11, 64, 0.3);
    border-width: 1px;
    padding: 4px;
    padding-left: 4px;
    outline-color: rgba(86, 11, 64, 0.7);
}

.loginTable input[type = date] {
    color: rgba(86, 11, 64, 0.7);
}

.loginTable 
{
    padding-left: 40px;
}

.loginTable label, #destacado table th {
    font-family: Arial;
    color: rgba(86, 11, 64, 0.7);
    font-weight: normal;
}

.loginTable input[type = text],[type = password], [type= date]
{
    height: 20px;
    width: 300px;
} 

.loginTable textarea {
    resize: none;
    width: 300px;
    height: 40px;
}

#infoPersonal {
    padding-top: 10px;
}


#btnRegistrar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 110px;
    width: 100px;
    height: 35px;
}

#signLink {
    color: blue;
    text-decoration: underline;
}

#signLink:hover {
    cursor: pointer;
}

#signLink:active {
    color: #560B40;
}

#tituloPagina {
    color: white;   
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding-top: 20px;
}
