body {
    margin: 0px;
    background-color: whitesmoke;
}

header {
    background-color: cadetblue;
    height: 100px;
}

#tituloPagina {
    color: floralwhite;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding-top: 20px;
}