/*POSIBLE TODO: Asegurar que no pasen cosas raras si algún explorador
no soporta alguna propiedad de estilo*/
body {
    margin: 0px;
    background-color: #F1FFF8;
    /*background: 
        url("Images/loginBackground2.jpg") repeat,
        radial-gradient(circle, gray, black);*/
    /*probar en otros navegaores*/
    background-blend-mode: overlay;
    /*probar en otros navegaores*/
    height: 100vh;
}

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#008069), to(#560B40));
    background-image: -webkit-linear-gradient(top, #008069, #560B40);
    background-image: -moz-linear-gradient(top, #008069, #560B40);
    background-image: linear-gradient(to right, #008069, #560B40);
    color: white;
    height: 60px;
    display: flex;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;    
    border-bottom-color: #23C1A7;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#23C1A7), to(#89206A));
    background-image: -webkit-linear-gradient(top, #23C1A7, #89206A);
    background-image: -moz-linear-gradient(top, #23C1A7, #89206A);
    background-image: linear-gradient(to bottom, #23C1A7, #89206A);*/
}
/*Para centrar verticalmente el div de login*/
#loginTopPadding
{
    /*Usamos la medida vh para que este en base al viewport,
    tambien probar en otros navegadores*/
    height: 25vh;
}
#loginTable
{
    margin: auto;
}

#loginForm {
    /*font*/
    background-color: white;
    font-family: "lucida sans", arial;
    font-size: .84em;
    color: black;
    text-align: center;
    /*box*/
    min-width: 600px;
    max-width: 600px;
    margin: auto;
    padding: 8px;
    border-color: #a9bca9;
    border-radius: 8px;
    /*border-style: solid;*/
    border-width: 1px;
    /*background-color: rgba(67, 86, 81, .7);*/
    box-shadow: 1px 1px 4px #008069;
    /*float: center;*/
    /*border-left-width: 8px;*/
    /*border-left-style: dotted;*/
    /*border-left-color: cadetblue;*/
}
#loginForm h1
{
    font-family: "century gothic", arial;
}

#topSection1 {
    width: 20%;
    flex: 1;
}

#topSection2 {
    width: 50%;
    flex: 2;
    font-size: 22pt;
    color: white;
}

#topSection3 {
    width: 30%;
    text-align: center;
}

#tituloPagina {
    color: white;
    color: gree
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding-top: 20px;
}