/*POSIBLE TODO: Asegurar que no pasen cosas raras si algun explorador
no soporta alguna propiedad de estilo*/
body {
    margin: 0px;
    background: 
        url("Images/loginBackground2.jpg") repeat,
        radial-gradient(circle, gray, black);
    /*probar en otros navegaores*/
    background-blend-mode: overlay;
    /*probar en otros navegaores*/
    height: 100vh;
    /*background-color: cornflowerblue;*/
    /*background-color: burlywood; */
}

header {
    background-color: floralwhite;
    height: 100px;
    display: flex;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: cadetblue;
}
/*Para centrar el div de login*/
#loginTopPadding
{
    /*Usamos la medida vh para que este en base al viewport*/
    height: 25vh;
}
#loginTable
{
    margin: auto;
}

#loginForm {
    font-family: "lucida sans", arial;
    font-size: .84em;
    color: white;
    text-align: center;
    min-width: 600px;
    max-width: 600px;
    margin: auto;
    padding: 8px;
    border-color: #a9bca9;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(67, 86, 81, .7);
    box-shadow: 0 0 8px #b8c7b8;
    
    /*float: center;*/
    /*border-left-width: 8px;*/
    /*border-left-style: dotted;*/
    /*border-left-color: cadetblue;*/
}
#loginForm h1
{
    font-family: "century gothic", arial;
}

#topSection1 {
    width: 20%;
    flex: 1;
}

#topSection2 {
    width: 50%;
    flex: 2;
    font-size: 22pt;
    color: rebeccapurple;
}

#topSection3 {
    width: 30%;
    text-align: center;
}

#tituloPagina {
    color: floralwhite;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding-top: 20px;
}